{% extends 'base.html' %}

{% block title %}

Password Reset

{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <br>
        <form method="post" class="form-register" style="color:whitesmoke">
            <!-- ANTI CSRF -->
            {{ form.hidden_tag() }}
            <h1 class="h3 mb-3 font-weight-normal">
                Reset Your Password
            </h1>
            <br>
            <!-- ACCOUNT REGISTRATION FIELDS -->

            {{ form.password1.label() }}
            {{ form.password1(class='form-control', placeholder="Old Password") }}

            {{ form.password2.label() }}
            {{ form.password2(class='form-control', placeholder="New Password") }}

            {{ form.password3.label() }}
            {{ form.password3(class='form-control', placeholder="Confirm New Password") }}

            <br>
            {{ form.submit(class='btn btn-lg btn-block btn-primary') }}

        </form>
    </div>

    <br>

</body>
{% endblock %}